// sidebar
$menuText:rgb(50,50,50);
$menuActiveText:#409EFF;
$subMenuActiveText:#001528; //https://github.com/ElemeFE/element/issues/12951

$menuBg:rgb(242,249,253);
$menuHover:rgb(220,220,220);

$subMenuBg:#F2F9FD;
$subMenuHover:rgb(240,240,240);

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
